html {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    overflow: auto;
}
body {
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 1px solid;
    overflow: inherit;
    background-color: #fff;
    text-align: center;
    font-family: verdana, arial, sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
}
a   {
    text-decoration: none;
}
nav ul li a {
    font-size: large;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
nav ul li a:hover {
    letter-spacing: 5px;
    background-color: gold;
}
nav ul li a:focus {
    color:firebrick
}
h3 {
    margin: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}
nav {
    width: 100%;
}
nav ul {
    text-align: center;
    margin: 0 0 0 0;
    padding-left: 0;
}
nav ul li {
    list-style-type: none;
    float: left;

}
nav ul li {
    width: 20%;
    background: linear-gradient(#9fb3b5, #e3e9ea, #7c9799);
}
ul li {list-style-type: none;}

/* Om verschillende atributen te gebruiken:

ul li {list-style-type: none;}3

ul li {list-style-type: circle;}
ul li {list-style-type: square;}
ol li {list-style-type: upper-roman;}
ol li {list-style-type: lower-alpha;} */

#divMain {
    width: 100%;
    height: 1500px;
    margin-top: 22px;
}
#divRow1 {
    width: 100%;
    height: 200px;
}
#div1 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(black, white);
    margin-top: 40px;
    margin-left: 30px;
    float: left;
}
#div2 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(90deg, black, white);
    margin-top: 40px;
    margin-left: 30px;
    float: left;
}
#div3 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(black, white, black);
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}
#div4 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(black, white, gray, gray);
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}

#divRow2 {
    width: 100%;
    height: 250px;
}
#div5 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(red, green);
    margin-top: 40px;
    margin-left: 30px;
    float: left;
}
#div6 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(135deg,red, green);
    margin-top: 40px;
    margin-left: 30px;
    float: left;
}
#div7 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(red, green, white, green, red);
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}
#div8 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(red, white, green, green);
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}
#divRow3 {
    width: 100%;
    height: 300px;
}
#div9 {
    width: 250px;
    height: 250px;
    background-image: radial-gradient(yellow 2%, blue 80%);
    margin-left: 250px;
}

#frame {
    width: 100%;
    height: 500px;
    margin-top: 22px;
    outline: 1px solid red;   
}

#filter {
    filter: grayscale(100%);
    width: 800px;
    height: 600px;
    
}

img {
    width: 800px;
    height: 600px;

}

#filter:hover {
    filter: grayscale(0%);
}

#div10 { 
box-shadow: 4px 4px 10px;
width: 90%;
height: 220px;
font-size: 1.2em;
margin-left: 5%;
margin-bottom: 3%;
margin-top: 50px;
text-align: center;
background-color: rgb(112, 180, 226);

display: flex;
flex-direction: column;

background-repeat: no-repeat;
background-position: right;
background-image: url(images/banjaluka.jpg) 
}

img {
    width: 218px;
    height: auto;

}