html {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    overflow: auto;
}
body {
    width: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 1px solid;
    overflow: inherit;
    background-color: #fff;
    text-align: center;
    font-family: verdana, arial, sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
}
a   {
    text-decoration: none;
}
nav ul li a {
    font-size: large;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
nav ul li a:hover {
    letter-spacing: 5px;
    background-color: gold;
}
nav ul li a:focus {
    color:firebrick
}
h3 {
    margin: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}
nav {
    width: 100%;
}
nav ul {
    text-align: center;
    margin: 0 0 0 0;
    padding-left: 0;
}
nav ul li {
    list-style-type: none;
    float: left;

}
nav ul li {
    width: 25%;
    background: linear-gradient(#9fb3b5, #e3e9ea, #7c9799);
}