container {
    border: solid 1px;
    border-radius: 5px;
    width: 500px;
    height: 250px;

    display: flex;
    flex-direction: column;
}

div {
    border: solid 1px;
    border-radius: 5px;
    height: 75px;
    line-height: 75px;
    width: 75px;
    font-family: verdana, arial, sans-serif;
    color: #000;
    font-size: 36px;
    text-align: center;
}